<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Page</title>
    <link rel="stylesheet" type="text/css" href="/css/host_page.css"/>
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <h2>Registration</h2>
    <form id="registrationForm" action="/register" method="post">
        <label for="register-login">Login:</label>
        <input placeholder="Enter your username" type="text" id="register-login" name="login" required
               autocomplete="username">
        <label for="register-password">Password:</label>
        <input placeholder="Enter password" type="password" id="register-password" name="password" required
               autocomplete="new-password">
        <label for="register-confirm-password">Confirm your password:</label>
        <input placeholder="Repeat your password" type="password" id="register-confirm-password"
               name="confirm_password" required autocomplete="new-password">
        <button type="submit">Register</button>
    </form>
</div>
<div id="message" class="message"></div>
<div class="container">
    <h2>Login In</h2>
    <form id="loginForm" action="/login" method="post">
        <label for="login-login">Login:</label>
        <input placeholder="Enter your username" type="text" id="login-login" name="login" required autocomplete="username">
        <label for="login-password">Password:</label>
        <input placeholder="Enter your password" type="password" id="login-password" name="password" required
               autocomplete="current-password">
        <button type="submit">Enter</button>
    </form>
</div>
<script src="/script/host_page.js"></script>
</body>
</html>